<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="{{asset('assets/fonts/fontawesome.css')}}" rel="stylesheet" />
          <link href="{{asset('assets/fonts/ionicons.css')}}" rel="stylesheet" />
          <link href="{{asset('assets/fonts/linearicons.css')}}" rel="stylesheet" />
          <link href="{{asset('assets/fonts/open-iconic.css')}}" rel="stylesheet" />
          <link href="{{asset('assets/fonts/pe-icon-7-stroke.css')}}" rel="stylesheet" />
          <link href="{{asset('assets/fonts/feather.css')}}" rel="stylesheet" />
          <link href="{{asset('assets/css/bootstrap-material.css')}}" rel="stylesheet" />
          <link href="{{asset('assets/css/shreerang-material.css')}}" rel="stylesheet" />
          <link href="{{asset('assets/css/uikit.css')}}" rel="stylesheet" />
          <link href="{{asset('assets/libs/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" />
         <link href="{{asset('assets/css/pages/authentication.css')}}" rel="stylesheet" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
