{% extends 'template.html.twig' %}

{% block title %}Effectué un achat{% endblock %}

{% block pagetitle %}Nouvel Achat{% endblock %}

{% block body %}


<!-- [ Layout content ] Start -->
<div class="layout-content">

<!-- [ content ] Start -->
<div class="container-fluid flex-grow-1 container-p-y">
   
    <div class="card">
        <div class="card-body">
    <td><a href="{{ path('add_fournisseur')}}" class="btn btn-sm btn-outline-success mb-2" >Ajouter nouveau fournisseur</a></td>
            <div class="table-responsive">
                <table class="table table-bordered table-striped sortable">
                
                    <thead>
                    
                        <tr>
                            <th style="width: 20%; vertical-align: middle;" rowspan="2" class="az" data-defaultsign="nospan" data-defaultsort="asc">
                                <i class="ion ion-ios-navigate"></i>&nbsp;Article</th>
                            
                        </tr>
                        <tr>
                            <th style="width: 20%">Fournisseur</th>
                            <th style="width: 20%">Quantité</th>
                            <th style="width: 20%">Prix Unitaire</th>
                            <th style="width: 20%">Date</th>
                            <th style="width: 20%">UPDATE</th>
                            <th style="width: 20%">DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for achat in achats %}
                        <tr>
                            <td>{{achat.article.nom}} </td>
                            <td>{{achat.fournisseur.nom}} </td>
                            <td>{{achat.quantite}} </td>
                            <td>{{achat.prixunit}} </td>
                            <td>{{achat.createdat|date('d/m/Y')}} </td>
                           <td><a href="" class="btn btn-sm btn-outline-success" >Modifier</a></td>
                           <td><a href="" class="btn btn-sm btn-outline-danger" >Supprimer</a></td>
                        </tr>
                        
                       
                        
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!-- [ content ] End -->






{% endblock %}
