{% extends 'template.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block pagetitle %}Dashboard{% endblock %}

{% block body %}

{% for flash_error in app.flashes('email-verified') %}
        <div class="alert alert-success" role="alert">{{ flash_error }}</div>
    {% endfor %}


<div class="text-muted small mt-0 mb-4 d-block breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item ">Dashboard</li>
                                
                            </ol>
                        </div>

                        <div class="row">
                            <!-- Staustic card 10 Start -->
                            <div class="col-xl-3 col-md-6">
                               <div class="card bg-primary text-white ui-hover-icon mb-4 bg-pattern-3">
                                   <div class="card-body text-center">
                                       <h2>{{article}}</h2>
                                       <h6 class="mb-0">Article</h6>
                                       <i class="lnr lnr-users hov-icon"></i>
                                   </div>
                               </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                               <div class="card bg-success text-white ui-hover-icon mb-4 bg-pattern-3">
                                   <div class="card-body text-center">
                                       <h2>{{client}}</h2>
                                       <h6 class="mb-0">Client</h6>
                                       <i class="lnr lnr-hourglass hov-icon"></i>
                                   </div>
                               </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                               <div class="card bg-danger text-white ui-hover-icon mb-4 bg-pattern-3">
                                   <div class="card-body text-center">
                                       <h2>{{fournisseur}}</h2>
                                       <h6 class="mb-0">Fournisseur</h6>
                                       <i class="lnr lnr-gift hov-icon"></i>
                                   </div>
                               </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                               <div class="card bg-warning text-white ui-hover-icon mb-4 bg-pattern-3">
                                   <div class="card-body text-center">
                                       <h2>{{vente}}</h2>
                                       <h6 class="mb-0">Vente</h6>
                                       <i class="lnr lnr-diamond hov-icon"></i>
                                   </div>
                               </div>
                            </div>
                            <!-- Staustic card 10 end -->








<!-- chart cards start -->
<div class="col-xl-6">
<div class="card mb-4">
    <div class="card-header with-elements">
        <h6 class="card-header-title mb-0">Sale Order</h6>
        <div class="card-header-elements ml-auto">
            <label class="text m-0">
                <span class="text-light text-tiny font-weight-semibold align-middle">SHOW STATS</span>
                <span class="switcher switcher-sm d-inline-block align-middle mr-0 ml-2">
                    <input type="checkbox" class="switcher-input" checked>
                    <span class="switcher-indicator">
                        <span class="switcher-yes"></span>
                        <span class="switcher-no"></span>
                    </span>
                </span>
            </label>
        </div>
    </div>
    <div class="row no-gutters row-bordered">
        <div class="col-md-7 col-lg-12 col-xl-7">
            <div class="card-body">
                <div id="chart-pie-moris" style="height:200px"></div>
            </div>
        </div>
        <div class="col-md-5 col-lg-12 col-xl-5">
            <div class="card-body">
                <div class="pb-4">
                    Order
                    <div class="float-right">
                        <span class="text-muted small">$590,47</span><i class="feather icon-arrow-down text-danger"></i>
                    </div>
                    <div class="progress mt-1" style="height:6px;">
                        <div class="progress-bar bg-primary" style="width: 45%;"></div>
                    </div>
                </div>
                <div class="pb-4">
                    Stock
                    <div class="float-right">
                        <span class="text-muted small">486 Qt</span><i class="feather icon-arrow-up text-success"></i>
                    </div>
                    <div class="progress mt-1" style="height:6px;">
                        <div class="progress-bar bg-success" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="pb-4">
                    Profit
                    <div class="float-right">
                        <span class="text-muted small">$486,490.00</span><i class="feather icon-arrow-up text-success"></i>
                    </div>
                    <div class="progress mt-1" style="height:6px;">
                        <div class="progress-bar bg-danger" style="width: 30%;"></div>
                    </div>
                </div>
                <div class="pb-0">
                    Sale
                    <div class="float-right">
                        <span class="text-muted small">540 Kg</span><i class="feather icon-arrow-down text-danger"></i>
                    </div>
                    <div class="progress mt-1" style="height:6px;">
                        <div class="progress-bar bg-warning" style="width: 55%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-xl-6">
<div class="card d-flex w-100 mb-4">
    <div class="row no-gutters row-bordered row-border-light h-100">
        <div class="d-flex col-sm-6 col-md-6 col-lg-6 align-items-center">
            <div class="card-body media align-items-center text-dark">
                <i class="lnr lnr-diamond display-4 d-block text-primary"></i>
                <span class="media-body d-block ml-3">
                    <span class="text-big mr-1 text-primary">$1584.78</span>
                <br>
                <small class="text-muted">Earned this month</small>
                </span>
            </div>
        </div>
        <div class="d-flex col-sm-6 col-md-6 col-lg-6 align-items-center">
            <div class="card-body media align-items-center text-dark">
                <i class="lnr lnr-clock display-4 d-block text-warning"></i>
                <span class="media-body d-block ml-3">
                    <span class="text-big"><span class="mr-1 text-warning">152</span>Working Hours</span>
                <br>
                <small class="text-muted">Spent this month</small>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4 bg-pattern-2-dark">
           <div class="card-body">
               <div class="d-flex align-items-center">
                   <div class="lnr lnr-cart display-4 text-primary"></div>
                   <div class="ml-3">
                       <div class="text-muted small">Monthly sales</div>
                       <div class="text-large">2362</div>
                   </div>
               </div>
               <div id="ecom-chart-1" class="mt-4 chart-shadow-primary" style="height:55px"></div>
           </div>
       </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4 bg-pattern-2-dark">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="lnr lnr-gift display-4 text-danger"></div>
                    <div class="ml-3">
                        <div class="text-muted small">Products</div>
                        <div class="text-large">985</div>
                    </div>
                </div>
                <div id="ecom-chart-3" class="mt-4 chart-shadow-danger" style="height:55px"></div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}
