{% extends 'template.html.twig' %}

{% block title %}Enregister un article{% endblock %}

{% block pagetitle %}Modification d'un article{% endblock %}

{% block body %}


<div class="card">
<div class="p-4 p-sm-5">

{{ form_start(form) }}
<div class="row">

<div class="col-6">{{ form_row(form.nom) }}</div>
<div class="col-6"> {{ form_row(form.prix) }} </div>

</div>

<div class="row">


<div class="col-sm-12">{{ form_row(form.image) }}</div>

</div>



{{ form_rest(form) }}


{% endblock %}
