


{% extends 'base.html.twig' %}

{% block title %}Enregister une vente{% endblock %}

{% block pagetitle %}Nouvelle Vente{% endblock %}

{% block body %}



{% for flash_error in app.flashes('error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}




<div class="card">
<div class="p-4 p-sm-5">

{{ form_start(form) }}
<div class="row">

<div class="col-6">{{ form_row(form.email,{'attr': {'class': 'form-control'}}) }}</div>
<div class="col-6"> {{ form_row(form.image,{'attr': {'class': 'form-control'}}) }} </div>

</div>

<div class="row">

<div class="col-12">{{ form_row(form.numero) }}</div>


</div>

{{ form_end(form) }}


{% endblock %}
